---
import AboutLayout from "../layouts/AboutLayout.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
import HomeLayout from "../layouts/HomeLayout.astro";
import ProcessLayout from "../layouts/ProcessLayout.astro";
import ServicesLayout from "../layouts/ServicesLayout.astro";
import TeamLayout from "../layouts/TeamLayout.astro";
import WorkLayout from "../layouts/WorkLayout.astro";
---

<BaseLayout>
  <main>
    <HomeLayout />
    <ProcessLayout/>
    <WorkLayout/>
    <AboutLayout/>
    <ServicesLayout/>
    <!-- <TeamLayout/> -->
  </main>
</BaseLayout>
