@use "../fonts";
@use "../colors.scss";

.title {
  font-size: 2em;
  color: colors.$dark-color;
  font-family: fonts.$avenir;

  margin-bottom: 1rem;
}

.description {
  font-family: fonts.$montserrat;
}

#about {
  @media screen and (min-width: 769px) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;

    align-items: center;
    justify-items: center;

    width: 85%;
    margin: auto;
  }

  @media screen and (max-width: 768px) {
    .img {
      display: none !important;
    }
    .about-card:last-child {
      text-align: end;
      justify-content: end;
      
      margin-top: 50px;
    }
    .about-card {
        margin: 30px;
      .title {
        width: 100%;
      }
      .description {
        width: 100%;
      }
    }
  }

  img {
    object-fit: contain;
    max-width: 100%;
  }
}

#about_mobile {
  width: 85%;
  margin: auto;
  img {
    object-fit: contain;
  }
}

.subtle {
  display: block;
  color: colors.$dark-blue-color;

  font-size: 0.8em;
}
