@use "../fonts";
@use "../colors.scss";

#footer {
  background-color: colors.$darker-color;
  display: flex;
  flex-direction: column;
  justify-content: end;
  min-height: 70vh;
  overflow-x: hidden;
  margin-top: 5px;
  @media screen and (max-width: 899px) {
    .mobile {
      display: flex !important;
      width: 100% !important;
    }
  }
  @media screen and (min-width: 900px) {
    .mobile {
      display: none !important;
    }
    .pc {
      visibility: visible;
      display: flex !important;
    }
   
    .pc-flex {
      justify-content: space-between;
      display: flex;
      margin-left: 70px;
      margin-right: 70px;
    }
  }
  .separator {
    border: 2px solid white;
    margin-bottom: 60px;
    @media screen and (max-width: 899px) {
      margin: 20px;
      border: 2px solid colors.$mid-color;
    }
  }
  .slogan {
    width: 300px;
    height: auto;
  }
  .footer-container {
    display: flex;
    padding: 25px;
    flex-direction: column;
    gap: 20px;
    font-family: fonts.$montserrat;
    .logo {
      width: 170px;
      height: auto;
      object-fit: contain;
      @media screen and (min-width: 900px) {
        width: 210px;
      }
    }
    .description {
      color: colors.$mid-color;
      @media screen and (min-width: 900px) {
        width: 360px;
        font-size: 1.2em;
      }
    }
    .telephone {
      border: 2px solid colors.$light-color;
      padding: 14px;
      font-size: 1em;
      width: 220px;
      gap: 12px;
      display: flex;
      align-items: center;

      height: auto;
      border-radius: 80px;
      @media screen and (min-width: 900px) {
        font-size: 1.2em;
        gap: 20px;
        width: 280px;
        height: 50px;
      }
    }

    a {
      text-decoration: none;
      color: colors.$light-color;
    }
    .information {
      display: flex;
      flex-direction: column;
      gap: 10px;
      a {
        color: colors.$mid-color;
        display: flex;
        align-items: center;
        gap: 20px;
        @media screen and (min-width: 900px) {
          font-size: 1.2em;
        }
        img {
          fill: colors.$mid-color;
        }
      }
    }
  }
}
