---
import Image from "astro/components/Image.astro";
import "../styles/layouts/HomeLayout.scss";
import Logo from "../assets/images/logo.png";

import EyeBackground from "../assets/videos/eye_video.webm";
---

<section id="home">
  <video width="320" height="340" autoplay muted loop id="home-video">
    <source src={EyeBackground} type="video/webm" />
  </video>

  <article class="home-container">
    <svg
      class="img mobile"
      width="383"
      height="300"
      viewBox="0 0 383 300"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M317 170.5L334 207.5H382.5L355 254H306.5L279.5 299.5H233.5L217 261L241.5 214.5L257.5 254H306.5L290 215L317 170.5Z"
        fill="#157CBF"></path>
      <path
        d="M62.5 82L39.5 40H88.5L66.5 1H123.5L145 41H300.5C307.833 52.6667 323.7 78.7 324.5 81.5H271L317 170.5H366L382.5 207.5H334L317 170.5L290 215L306.5 254H257.5L241 215H290L317 170.5H265L218 82H164.5L183 117.5H131.5L111.5 82H62.5Z"
        fill="#EFEFEF"></path>
      <path
        d="M39.5 40L62 81H111.5L131.5 117.5H183L164.5 81H217.5L265 170.5H317L296 130L271 81.5H324.5L296 130L317 170.5L290.5 215H228.5L185.5 141.5L162.5 172.5H104.5L77.5 122.5H21L5.5 92L39.5 40L66.5 1L88.5 40H39.5Z"
        fill="#157CBF"></path>
    </svg>
    <h1 class="title">Um novo capítulo para o seu negócio</h1>
    <p class="subtitle">
      Somos uma empresa de tecnologia com foco em modernizar e atualizar pequenos e grandes negócios.
    </p>
    <button class="btn">Faça um orçamento</button>
  </article>
  <svg
    class="img pc"
    width="383"
    height="300"
    viewBox="0 0 383 300"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      d="M317 170.5L334 207.5H382.5L355 254H306.5L279.5 299.5H233.5L217 261L241.5 214.5L257.5 254H306.5L290 215L317 170.5Z"
      fill="#157CBF"></path>
    <path
      d="M62.5 82L39.5 40H88.5L66.5 1H123.5L145 41H300.5C307.833 52.6667 323.7 78.7 324.5 81.5H271L317 170.5H366L382.5 207.5H334L317 170.5L290 215L306.5 254H257.5L241 215H290L317 170.5H265L218 82H164.5L183 117.5H131.5L111.5 82H62.5Z"
      fill="#EFEFEF"></path>
    <path
      d="M39.5 40L62 81H111.5L131.5 117.5H183L164.5 81H217.5L265 170.5H317L296 130L271 81.5H324.5L296 130L317 170.5L290.5 215H228.5L185.5 141.5L162.5 172.5H104.5L77.5 122.5H21L5.5 92L39.5 40L66.5 1L88.5 40H39.5Z"
      fill="#157CBF"></path>
  </svg>
</section>
