---
import "../styles/layouts/ProcessLayout.scss";
---

<section id="process">
  <h1 class="title">Nosso processo</h1>
  <ul class="list">
    <li class="item">
      <div class="item-ball"></div>
      <div class="item-content">
        <h2 class="item-title">Envie sua proposta</h2>
        <p class="item-description">
          O tipo de pedido não importa, o que importa é se você ficara
          satisfeito com o resultado.
        </p>
      </div>
    </li>
    <div class="line"></div>
    <li class="item">
      <div class="item-ball"></div>
      <div class="item-content">
        <h2 class="item-title">Levante os requisitos</h2>
        <p class="item-description">
          O tipo de pedido não importa, o que importa é se você ficara
          satisfeito com o resultado.
        </p>
      </div>
    </li>
    <div class="line"></div>
    <li class="item">
      <div class="item-ball"></div>
      <div class="item-content">
        <h2 class="item-title">Envie as informações necessárias</h2>
        <p class="item-description">
          O tipo de pedido não importa, o que importa é se você ficara
          satisfeito com o resultado.
        </p>
      </div>
    </li>
    <div class="line" style=" @media screen and (max-width:1024px){transform:translate(15px,-85px); height:182px;}transform:translate(15px,-110px); height:207px;"></div>
    <li class="item" style="margin-bottom: 60px;">
      <div class="item-ball"></div>
      <div class="item-content">
        <h2 class="item-title">Tudo pronto</h2>
        <p class="item-description">
          O tipo de pedido não importa, o que importa é se você ficara
          satisfeito com o resultado.
        </p>
      </div>
    </li>
  </ul>
</section>
